<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN-eoWz5JlSj5KCwQEpmHXOzd0lva8yo0</string>
	<key>GCM_SENDER_ID</key>
	<string>476068595705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventRadar2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eventradar-371df</string>
	<key>STORAGE_BUCKET</key>
	<string>eventradar-371df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476068595705:ios:0f01708366408d8bdc5f28</string>
</dict>
</plist>